@{
    ViewData["Title"] = "An administrator account cannot be created.";
}

<h1>An administrator account cannot be created.</h1>
<p>The limit on the number of possible administrators has been exceeded.</p>