@{
    ViewData["Title"] = "The file hashes do mot match.";
}

<h1>The file hashes do mot match.</h1>
<p>The hash of the uploaded file and the hash of the file you are currently trying to download do not match.</p>